<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd" >

    <!-- 定义请求处理映射HandlerMapping -->
    <bean id="handlerMapping"  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <!-- 指定请求和Controller对应关系 -->
        <property name="mappings" ref="urlMappings" />
    </bean>

    <!-- 定义url请求映射表 map -->
    <util:properties id="urlMappings">
        <prop key="/hello.form">helloController</prop>
    </util:properties>

    <!-- 控制器bean配置 -->
    <bean id="helloController"  class="com.souvc.spring.HelloController" />

    <!-- 定义视图解析器ViewResolver -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>