<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customer" class="com.souvc.spring.Customer" autowire="byName" />
		
	<bean id="address" class="com.souvc.spring.Address" >
		<property name="fulladdress" value="广州天河区" />
	</bean>

</beans>