<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <!-- setter注入 -->
    <bean id="dataSource" class="com.souvc.spring.dao.JDBCDataSource">
        <property name="driver" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
        <property name="user" value="root"></property>
        <property name="pwd" value="123456"></property>
    </bean>

    <!-- 构造器注入 -->
    <bean id="userDAO" class="com.souvc.spring.dao.MysqlUserDAO">
        <!-- 利用构造器参数注入bean的属性 -->
        <constructor-arg index="0" ref="dataSource"/>
    </bean>
</beans>