<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <!-- 引用方式注入空字符串-->
    <bean id="messagebean" class="com.souvc.spring.MessageBean">
        <property name="moduleName" value="资费管理"></property>
        <property name="pageSize" value="5"></property>
        <property name="username" value=""></property>
        <property name="password" >
            <null/>
        </property>
    </bean>

</beans>