<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd "
       default-init-method="init" default-destroy-method="destroy" default-lazy-init="true">

    <!-- 在顶级的<beans/>元素中的default-init-method属性以及default-destroy-method属性，可以为容器所有<bean>指定初始化回调方法以及指定销毁回调方法-->
    <bean id="exampleBean" class="com.souvc.spring.ExampleBean" scope="singleton" ></bean>

</beans>