<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <!-- 加载properties文件为bean -->
    <util:properties id="jdbcProperties"   location="classpath:db.properties" />

    <!-- 表达式注入 -->
    <bean id="messagebean" class="com.souvc.spring.MessageBean">
        <property name="moduleName" value="#{jdbcProperties.moduleName}"></property>
        <property name="pageSize" value="#{jdbcProperties.pageSize}"></property>
        <property name="username" value="#{jdbcProperties.username}"></property>
        <property name="password" value="#{jdbcProperties.password}"></property>
    </bean>

</beans>